<html lang="ja">
    <head>
        <meta content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Blokus</title>
    </head>
    <body onload="main()">
        <div class="main">
            <canvas id="board" width="900px" height="900px"></canvas>
            <div class="mino-selector">
                <button type="button" class="selector" id="back">
                    <i class="material-icons">arrow_back</i>
                </button>
                <canvas id="mino-viewer" width="315px" height="315px"></canvas>
                <button type="button" class="selector" id="advance">
                    <i class="material-icons">arrow_forward</i>
                </button>
                <br>
                <button type="button" class="rotate" id="rotate">
                    <i class="material-icons">rotate_90_degrees_ccw</i>
                </button>
                <button type="button" class="flip" id="flip">
                    <i class="material-icons">flip</i>
                </button>
            </div>
        </div>
        <script src={{ url_for("static", path="mino.js") }}></script>
        <script src={{ url_for("static", path="game.js") }}></script>
        <script src={{ url_for("static", path="colleague.js") }}></script>
        <script src={{ url_for("static", path="board.js") }}></script>
        <script src={{ url_for("static", path="mino_viewer.js") }}></script>
        <script src={{ url_for("static", path="endpoint.js") }}></script>
        <script>
            function main() {
                const playerMinoSrc = "{{ url_for("static", path="images/mino_image_1.png") }}";
                const aiMinoSrc = "{{ url_for("static", path="images/mino_image_2.png") }}";

                const endpointUri = "ws://{{ ip }}:{{ port }}/ws";
                const endpoint = new Endpoint(endpointUri);

                // TODO: Sound
                const messages = {
                    "loading": {
                        "imageSrc": "{{ url_for("static", path="images/loading.png") }}",
                        "x": 0,
                        "y": 0,
                        "magnification": 1,
                    },
                    "thinking": {
                        "imageSrc": "{{ url_for("static", path="images/thinking.png") }}",
                        "x": 0,
                        "y": 0,
                        "magnification": 1,
                    },
                    "win": {
                        "imageSrc": "{{ url_for("static", path="images/win.png") }}",
                        "x": 200,
                        "y": 350,
                        "magnification": 2,
                    },
                    "lose": {
                        "imageSrc": "{{ url_for("static", path="images/lose.png") }}",
                        "x": 185,
                        "y": 350,
                        "magnification": 2,
                    },
                    "draw": {
                        "imageSrc": "{{ url_for("static", path="images/draw.png") }}",
                        "x": 275,
                        "y": 350,
                        "magnification": 2,
                    },
                    "skip": {
                        "imageSrc": "{{ url_for("static", path="images/skip.png") }}",
                        "x": 80,
                        "y": 350,
                        "magnification": 2,
                    }
                }

                const boardCanvas = document.getElementById("board");
                const filterSrc = "{{ url_for("static", path="images/filter.jpg") }}";
                const board = new Board(boardCanvas, filterSrc);

                const minoViewerCanvas = document.getElementById("mino-viewer");
                const advanceButton = document.getElementById("advance");
                const backButton = document.getElementById("back");
                const rotateButton = document.getElementById("rotate");
                const flipButton = document.getElementById("flip");
                const minoViewer = new MinoViewer(minoViewerCanvas, advanceButton, backButton, rotateButton, flipButton);

                new Game(board, minoViewer, endpoint, playerMinoSrc, aiMinoSrc, messages);
            }
        </script>
        <style>
            #board {
                float: left;
            }
            .mino-selector {
                float: left;
                margin-top: 180px;
                margin-left: 270px;
            }
            .selector {
                padding: 143px 10px;
                vertical-align: top;
            }
            .rotate {
                margin-left: 53px;
                padding: 10px 63px;
            }
            .flip {
                padding: 10px 63px;
            }
        </style>
    </body>
</html>